@tailwind base;
@tailwind components;
@tailwind utilities;

html
{
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #121212;
    overflow-x: hidden;
    /*background-image: linear-gradient(to top, #855988,#2b2f77 , #070b34);*/
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    
  }
}



.fontP
{
  
}

/* @font-face 
{
  font-family: 'OpenSans'; 
  src: url('../assets/caviar_dreams/CaviarDreams.ttf');
  font-weight: 400;
  font-style: normal;
} */

