.container {
  padding: 0 2rem;
}
.fontNormal
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; 
}

.maincotainer
{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5vw);
  /* gap: 20px; */
  width:100%;
  padding-top: 3rem;

  position:relative;
  z-index: 50;
}
.maincotainerBlog
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position:relative;
  min-height: calc(100vh - 5vw);
  width:100%;
  padding-top: 3rem;
}

.homeMaincotainer
{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5vw);
  /* gap: 20px; */
  width:100%;
  padding-top: 3rem;
}
.mediaLink
{
  width: auto;
  height: auto;
}
.journeyImage
{

  
  position: relative;
  border-radius: 75%;
  position: relative;
  top:0%;
  left:50%;
  transform: translate(-50%,0%);
}

.frontImage
{
  position: relative;
  left:50%;
  transform: translate(-50%,0);
}

.canvas{
  background: rgba(0,0,0,0);
  width: 100vw; height: 100vh;
  z-index: -20;
}
.scene{
  position:absolute;
  width:100vw;
  height:120vh;
}

.navBarMini
{
  position: fixed;
  width:100%;

  min-height: 40px;
  height:3vw;

  font-size: calc(10px + 1vw);
  top:0;
  z-index: 20;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #ce81d3,#2b2f77);
  transition: 1s;
  
}
.navBar
{
  position: fixed;
  width:100%;
  min-height: 50px;
  height:5vw;


  font-size: calc(10px + 1vw);
  top:0;
  z-index: 20;
  transition: 1s;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #ce81d3,#2b2f77);
  
}

.navBarHolder
{
  width:100%;

  height:5vw;


  font-size: 2vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: none;
  
}

.textContainer
{
  

  
  /* border-radius: 15px; */
  /* color:black; */
  /* background-color: rgba(255, 255, 255,0.9); */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; 

  font-weight: 300;
  font-weight: 400;
  transition-duration: 0.5s;
  width:100%;
  position: relative;
  padding-left: 20%;
  padding-right: 20%;
  left:50%;
  transform: translate(-50%,0);
  padding: 40px;
}
.textContainerBlog
{
  

  border-radius: 15px;
  color:black;
  background-color: rgba(255, 255, 255,0.9);
  font-weight: 400;
  padding-left: 1vw;
  padding-bottom: 2vw;
  padding-right: 1vw;
  padding-top: 0.1vw;
  transition-duration: 0.5s;
  width:95%;
  position: relative;
  left:50%;
  transform: translate(-50%,0);
  padding: 20px;
}
.footerContainer
{
  color:white;
  background-color: #1c1c1c;
  font-weight: 400;
  padding-left: 1vw;
  padding-bottom: 0.5vw;
  padding-right: 1vw;
  padding-top: 0.1vw;
  transition-duration: 0.5s;
  padding: 1rem;
  text-align: center;
  

}
.realfooterContianer
{
  
  margin-top: auto;
  position: relative;
  z-index: 20;
  bottom: 0;

}
.specialLink
{
  text-decoration: underline;
}
.Logo
{
  background-color: white;
  border-radius: 50%;
  display: inline;
  width: 8vw;
}

.instaLogo
{
  background-color: #bbb;
  border-radius: 25%;
  display: inline;
  width: 8vw;
}
.gmailLogo
{
  background-color: #bbb;
  border-radius: 25%;
  display: inline;
  width: 8vw;
}

.projectContainerText
{
  
  text-align: center;
  color:black;
  background-color: rgba(240, 240, 240,0.9);
  font-weight: 400;
  padding-left: 1vw;
  padding-bottom: 1vw;
  padding-right: 1vw;
  padding-top: 0.1vw;
  margin-top: 2vw;
  transition-duration: 0.5s;
  width:75%;
  position: relative;
  left:50%;
  transform: translate(-50%,0);

}
.blogContainerText
{
  
  color:black;
  background-color: rgba(240, 240, 240,0.9);
  font-weight: 400;
  padding-left: 1vw;
  padding-bottom: 1vw;
  padding-right: 1vw;
  padding-top: 0.1vw;
  margin-top: 2vw;
  transition-duration: 0.25s;
  width:70%;
  position: relative;
  left:50%;
  transform: translate(-50%,0);

}
.blogContainerText:hover
{

  background-color: rgba(254, 247, 255,0.9);
}

.projectContainerText:hover
{

  background-color: rgba(254, 247, 255,0.9);
}


/* .textContainer:hover
{
  background-color: rgba(255, 255, 255,0.8);
} */
.links
{
  
  color:white;
}
.links>a:hover
{
  
  color:rgb(239, 43, 177);
}


.homeLink
{
  color:white;
}
.homeLink:hover
{
  color:rgb(239, 43, 177);
}
.links>a
{

  float: right;
  margin-left: 2vw;
  margin-right: 2vw;

}

.mainTitleName
{
  width:100%;
  height: 100vh;
  font-size: 3vw;

  color:white;
}

.scrollDownTitle
{
  position:relative;
  top:0;
  transition-duration: 1s;
}

.centerRel
{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.centerRelX
{
  position: relative;
  top:0%;
  left:50%;
  transform: translate(-50%,0%);
}