.valenContainer
{
  background-color: #ffeef7;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 90%;
  border: #ffb7dd 10px solid;
  color:#333333;
  text-align: center;
}

.valenEl
{
  position: inherit;
  top: 50%;
  left:50%;
  width: 80%;
  transform: translate(-50%, -50%);
}
.celEl
{
  position: inherit;
  top: 50%;
  left:50%;
  min-width: 40vh;
  max-width: 60vh;
  transform: translate(-50%, -50%);
}
/* .check::before
{
  background-color: transparent;
  height: 5vw;
} */
